services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: myflaskapp
    volumes:
      - mysql_data:/var/lib/mysql
      - /home/vagrant/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  webapp:
    build: .
    container_name: miniwebapp
    expose:
      - "5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_ENV=production
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=myflaskapp
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped

  apache:
    build:
      context: /home/vagrant/webapp/apache
    container_name: web_apache_proxy
    depends_on:
      - webapp
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /home/vagrant/webapp/certs:/etc/apache2/ssl:ro
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  mysql_data:

